body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-weight: bold;
}

h3 {
    font-size: 22px;
}

ul,
li {
    margin: 0;
}

.header {
    background-color: #f0f0f0;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header img {
    width: 100%;
}

.header li {
    display: inline-block;
    list-style-type: none;
}

.reg-wrap form {
    padding: 40px;
    margin-top: 140px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 21px #ccc;
}

.form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none;
    color: #aaa;
}

.header li a {
    color: #000;
    font-size: 17px;
    padding: 10px 20px;
    margin: 0 2px;
}

.header-link-wrap {
    text-align: right;
}

input[type="submit"]:disabled {
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, .3);
}

.items-wrap {
    position: relative;
}

.cart-item-img {
    height: 150px;
    max-height: 100%;
    width: 100%;
    padding: 0 20px;
}

.spinner-wrap {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    padding-top: 140px;
}

.cart-item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .btn {
    width: 100%;
    margin-bottom: 10px;
}

.item-wrap {
    width: 25%;
    float: left;
    height: 100%;
    margin-bottom: 20px;
    padding: 10px 15px;
    text-transform: capitalize;
}

.books-wrap {
    margin-top: 70px;
}

.add-book-info {
    float: left;
    position: absolute;
    top: 32%;
}

.item-wrap:hover {
    outline: 1px solid;
    padding-bottom: 20px;
}

.single-page-wrap .form-wrap form {
    padding: 15px 30px;
    margin: 0;
    background-color: #F8F9FA;
}

.single-page-wrap {
    margin-top: 60px;
}

.single-page-wrap .form-wrap .form-group {
    padding-bottom: 15px;
    font-weight: bold;
}

.single-page-wrap input {
    text-transform: uppercase;
}

.alert-info {
    margin-top: 40px;
}

.product-item-wrap {
    padding-top: 70px;
}

.form-wrap form {
    background: #0098D0;
    padding: 15px 0;
    border-radius: 4px;
    margin: 40px 0;
}

.form-wrap .form-inline input {
    width: 100%;
}

.content-wrap {
    min-height: 90vh;
}

.user-profile-wrap {
    padding-top: 70px;
}

.user-profile-wrap h4 b {
    text-transform: uppercase;
}

.photo-wrap {
    text-align: center;
}

.photo-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    width: 250px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.user-top-icon {
    position: absolute;
    right: -50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: -15px;
}

.user-top-icon img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-wrap button {
    margin-top: 40px;
}

/**************************Popup**********************************/

#popup-window {
    top: -999%;
    transition: 0.3s ease;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-wrap {
    background: #ddd;
    padding: 60px 40px 20px;
    width: 40%;
    left: 30%;
    position: relative;
}

.popup-wrap .glyphicon {
    position: absolute;
    right: 46px;
    top: 29px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
}

.popup-wrap .selectpicker {
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 12px;
}

/**************************Popup-end**********************************/

.filter-name-wrap>div {
    width: 100%;
}

.footer li a {
    padding: 20px;
}

footer {
    width: 100%;
    background-color: #f0f0f0;
    height: 200px;
}
